body
{
	background-image: url("ThenPic.jpeg"); background-size: 100%;
	background-repeat: no-repeat; 
}

a
{
	font: 20px Arial, sans-serif;
	color: darkred;
	font-weight:  bolder;
	width: 400;
}

a:hover
{
	font: 20px Arial, sans-serif;
	color: black;
	background-color:  white;
	font-weight:  bolder;
	width: 400;
}

p.hyperlink
{
	font: 20px Arial, sans-serif;
	color: darkred;
	width: 400;
	font-weight: bolder;
}

p.hyperlink:hover
{
	font: 20px Arial, sans-serif;
	color: darkred;
	width: 400;
	font-weight: bolder;
}

p
{
	font: 20px Arial, sans-serif;
	color: black;
	width: 500;
}

iframe
{
	float: right;
}

p:hover
{
	font: 20px Arial, sans-serif;
	color: darkred;
	width: 500;
}

p.narrow
{
	font: 20px Arial, sans-serif;
	color: black;
	width: 400;
}

p.narrow:hover
{
	font: 20px Arial, sans-serif;
	color: darkred;
	width: 400;
}

p.name
{
	font: 45px Arial, sans-serif;
	font-weight: bolder;
	color: darkred;
}


